#wp-admin-bar-bpl-likebutton > .ab-item .ab-icon {
	background-image: url(../images/like-icon.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
#wp-admin-bar-bpl-likebutton:hover .ab-label,
#wp-admin-bar-bpl-likebutton.hover .ab-label,
#wp-admin-bar-bpl-likebutton .ab-item:focus .ab-label,
#wpadminbar.nojq .quicklinks #wp-admin-bar-bpl-likebutton > .ab-item:focus .ab-label,
#wp-admin-bar-bpl-likebutton.liked .ab-label {
	color: #FAFAFA;
}
#wp-admin-bar-bpl-likebutton:hover .ab-icon,
#wp-admin-bar-bpl-likebutton.hover .ab-icon,
#wp-admin-bar-bpl-likebutton .ab-item:focus .ab-icon,
#wpadminbar.nojq .quicklinks #wp-admin-bar-bpl-likebutton > .ab-item:focus .ab-icon,
#wp-admin-bar-bpl-likebutton.liked .ab-icon {
	background-image: url(../images/like-icon.png);
	background-position: 0 -20px;
	background-repeat: no-repeat;
}